*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.menu {
  background: #f7f6f5;
  border-top: 1px solid #cfcfcf;
}

.menu__item {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #cfcfcf;
}

.menu__item:hover {
  background: white;
  border-bottom: none;
  border-right: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  margin: 0 -1px;
}

.menu__item--current .menu__item__link {
  color: #333333;
  border-bottom: 2px solid #333;
  padding-bottom: 0.3rem;
}

.menu__item__link {
  text-decoration: none;
  color: #555;
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 800;
}

.menu__item__link:hover {
  text-decoration: underline;
  color: #1c60bb;
}
