*,
*::after,
*::before {
  box-sizing: inherit;
  /* margin: 0;
  padding: 0; */
  font-family: Roboto;
}

html {
  box-sizing: border-box;
}

.wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.signup__field__input--error {
  border: 1px solid red;
}

.signup__field__error {
  color: red;
}
